:root {
    /* CORES */

    --white: hsl(0, 100%, 100%);
    --puprle-100: hsl(275, 100%, 97%);
    --puprle-600: hsl(292, 16%, 49%);
    --puprle-950: hsl(292, 42%, 14%);

    /* TAM FONTE */

    --para-size: 1rem;

    /* WEIGHT FONTS */

    --
}